* {
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.1px;
    font-weight: 300;
}

.login-wrapper {
    display: flex;
    justify-content: center;
}

.login-column {
    width: 360px;
}

.login-column:not(:first-of-type) {
    margin-left: 35px;
}

.login-button {
    display: inline-flex;
    margin-top: 16px;
    padding: 10px 24px;
    border-radius: 8px;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: rgb(79 70 229);
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.login-button:hover {
    background-color: rgb(67 56 202);
}

h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: rgb(55 65 81);
    letter-spacing: -.025em;
    font-weight: 400;
}

h3 {
    font-weight: 400;
}

.login-text {
    color: rgb(79 70 229);
}

.login-form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}

.login-form-item label,
.login-form-item input,
.login-form-item span {
    font-size: .875rem;
    line-height: 1.25rem;
    color: rgb(55 65 81);
    font-weight: 400;
}

.login-form-item input {
    padding: 0.5rem 0.75rem;
    font-weight: 400;
    border: 1px solid rgb(209 213 219);
    border-radius: 0.375rem;
    outline: none;
}

.login-form-item input:-webkit-autofill {
    -webkit-background-clip: text;
}

.login-form-item input:focus {
    border-color: rgb(79 70 229);
}

.login-info-item {
    color: rgb(55 65 81);
    font-weight: 400;
}

.login-info-item span {
    color: rgb(107 114 128);
    font-weight: 300;
}

.login-actions {
    display: flex
}

.login-add-button {
    margin-left: 24px;
    display: inline-flex;
    margin-top: 16px;
    padding: 10px 24px;
    border-radius: 8px;
    color: rgb(55 65 81);
    border: 1px solid rgb(209 213 219);
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: #fff;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.login-add-button:hover {
    opacity: 0.8;
}

.login-previous-inputs {
    list-style: none;
    padding-left: 0;
    margin: 0;
    max-height: 560px;
    overflow-y: scroll;
}

.login-previous-inputs li {
    padding: 10px 24px;
    border: 1px solid rgb(209 213 219);
    border-radius: 8px;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out;
}

.login-previous-inputs li:not(:last-of-type) {
    margin-bottom: 14px;
}

.login-previous-inputs li:hover {
    border-color: rgb(79 70 229);
}

.login-previous-inputs p {
    margin-top: 0;
    margin-bottom: 8px;
}

.login-previous-inputs-wrapper {
    position: relative;
}

.login-previous-inputs-wrapper:after {
    content: '';
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(transparent 15px, white);
}
